server:
  port: 8082

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/avatar_pdf_svc?createDatabaseIfNotExist=true
    username: root
    password: nikixmar123

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

logging:
  level:
    com.example.avatarpdf: INFO
